<h1>Add Article</h1>

<form method="POST" action="/article/add">

    <div>
        <label>Title</label>
        <input name="title" type="text" />
    </div>

    <div>
        <label>Content</label>
        <textarea name="content"></textarea>
    </div>

    <div>
        <label>is Published</label>
        <input name="isPublished" type="text" />
    </div>

    <div>
        <label>Total Words</label>
        <input name="totalWords" type="text" />
    </div>

    <div>
        <label>Author</label>
        <input name="author" type="text" />
    </div>

    <div>
        <button type="submit"> Create Article </button>
    </div>

</form>